<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>spring security custom user details example</title>

    <!-- bootstrap core CSS -->
    <link th:href="@{/static/css/lib/bootstrap.min.css}" href="../static/css/lib/bootstrap.min.css" rel="stylesheet"/>
    <!-- custom styles for login template -->
    <link th:href="@{/static/css/login.css}" href="../static/css/login.css" rel="stylesheet"/>
</head>

<body>
    <div layout:fragment="container"/>
</body>
</html>